/*! Medik | CC0 license | https://bitbucket.org/wikiskripta/medik */

#mw-navbar-left {
	padding-left: 1em;
}

.mw-label {
	white-space: nowrap;
}

.profile-icon {
	display: none;
}

#personal-echo-icons li {
	margin: 0 10px;
	top: 16px;
}

#footer-icons {
	float: right;
}

li.footer-icons {
	padding-left: 1em;
}
